:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --primary-color:#0a77f3;
}

p,a,input,div,label {
	font-size:1.4rem !important;
}

.fs-primary {
	font-size:1.4rem !important;
}