
.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color)
}

.profile-button {
    background: var(--primary-color);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: var(--primary-color)
}

.profile-button:focus {
    background: var(--primary-color);
    box-shadow: none
}

.profile-button:active {
    background: var(--primary-color);
    box-shadow: none
}

.back:hover {
    color: var(--primary-color);
    cursor: pointer
}

.labels {
    font-size: 16px;
}

.add-experience:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}